<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<style>
  .site-footer {
    display: none;
  }
  .project-name a {
    color: white;
    text-decoration: none;
    font-size: 75%;
  }
  .project-tagline a {
    color: white;
    text-decoration: none;
  }
  #link-hd {
    font-size: 200%;
  }
  #links-table td {
    padding: 0 2rem 0 0;
    border: none;
  }
  #links-table ul {
    margin-bottom: 0;
  }
</style>
<script>
  document.documentElement.lang = "de";
  document.querySelector("meta[property='og:locale']").setAttribute("content", "de_DE");
</script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  const options = {
    label: '🌓'
  }

  function addDarkmodeWidget() {
    new Darkmode(options).showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
  
  if (!(navigator.userAgent.indexOf("Mobi") > -1)) {
    var button = document.querySelector(".darkmode-toggle");
    button.style.fontSize = "130%";
  }
</script>
