<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<style>
  .site-footer {
    display: none;
  }
  .project-name a {
    color: white;
    text-decoration: none;
    font-size: 75%;
  }
  .project-tagline a {
    color: white;
    text-decoration: none;
  }
  #link-hd {
    font-size: 200%;
  }
  #links-table td {
    padding: 0 2rem 0 0;
    border: none;
  }
  #links-table ul {
    margin-bottom: 0;
  }
</style>
<script src="https://static.hrstmnn.de/node_modules/darkmode-js/lib/darkmode-js.min.js"></script>
<script src="https://static.hrstmnn.de/node_modules/ismobilejs/dist/isMobile.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.documentElement.lang = "de";
    document.querySelector("meta[property='og:locale']").setAttribute("content", "de_DE");
    var options = {
      label: "🌓"
    }
    if (isMobile.phone) {
      document.getElementById("content").style.paddingBottom = "60px";
      options.bottom = "15px";
      options.right = "15px";
    } else {
      document.getElementById("content").style.paddingBottom = "100px";
      options.bottom = "20px";
      options.right = "20px";
    }
    window.addEventListener("load", new Darkmode(options).showWidget());
  });
</script>
